



body {
	background-image: url(./img/download.png);
	background-size: cover;


}

h1 {
		color: darkblue;
		text-align:center;
		cursor:all-scroll;
		empty-cells: hide;

}	

h2{
	color: ;
	text-align:center;
	border:5px solid green;
	cursor:help;
}

p {
	color: black;
}

img {
	position:; 
	left:0px;
	right: 30px;
	top: 0px;
	z-index: 3px
}
